<html>
  <body>
    <style>
      .attenstion { 
        height: 500px;
      }
      .main {
        display: table;
        table-layout: fixed;
        width: 700px;
      }
      .left-column { 
        background-color: green;
        display: table-cell;
        width: 200px;
        vertical-align:top;
      }
      .right-column { 
        background-color: red;
        display: table-cell;
        vertical-align:top;
        width: 500px;
      }
    </style>

    <div class='main'>
      <div class='left-column attenstion'>
        <p>メニュー</p>
        <p>にくじゃが</p>
        <p>燃えるゴミ</p>
      </div>
      <div class='right-column attenstion'>
        今日のおすすめです
      </div>
    </div>
  </body>
</html>
